/RestoAppPage$1.class
/RestoAppPage.class
/ChangeTableLocationPage$1.class
/ChangeTableLocationPage$2.class
/ChangeTableLocationPage.class
/RemoveTablePage.class
/RemoveTablePage$1.class
/RemoveTablePage$2.class
